---

---

<article
  id="experiences"
  class="container mx-auto max-w-5xl flex items-center justify-evenly gap-10 text-white py-20 px-4"
>
  <section class="space-y-3">
    <h1
      class="text-xl sm:text-3xl text-green-400 font-semibold text-center pb-4"
    >
      EXPERIENCIA LABORAL
    </h1>
    <div class="grid grid-cols-1 gap-4">
      <div class="flex justify-center items-center">
        <div>
          <p class="text-green-400">febrero 2025 - febrero 2026 (1 año)</p>
          <h2 class="sm:text-xl font-medium">
            Empresa: Central Time Developers Inc.
          </h2>
          <h4 class="text-neutral-300">Puesto: Desarrollador Full-Stack</h4>
          <p class="text-neutral-500">
            • Realicé algoritmos que permitieron automatizar la asignación
            eficiente de turnos para vehículos, asociados y rutas registrados en
            el sistema.
          </p>
          <p class="text-neutral-500">
            • Construí interfaces dinámicas y escalables en Vue 3 para la
            visualización clara y estructurada de grandes volúmenes de datos de
            los turnos monitoreados a diario y semanalmente, optimizando la
            experiencia del usuario final.
          </p>
        </div>
      </div>
    </div>
  </section>
</article>
