---
---

<footer class="bg-[#0A0E17]/50 flex justify-between py-8 px-6 border border-[#FFFFFF]/5">
	<p class="text-[#DFE2EF] text-xs font-medium tracking-wide">© 2026 FullStack developer, build with <span class="text-[#4CD7F6]">Astro & TailwindCSS</span></p>
	<div class="flex items-center gap-6">
		<a href="https://github.com/juanRCoder" target="_blank" class="uppercase text-sm font-medium tracking-wide text-[#4CD7F6]">
			GitHub
		</a>
		<a href="https://www.linkedin.com/in/juan-ramirez-developer/" target="_blank" class="uppercase text-sm font-medium tracking-wide text-[#4CD7F6]">
			LinkedIn
		</a>
		<a href="https://drive.google.com/file/d/1PMPL28QaFxUq-dLnPG1o6HzmOpVslrHR/view?usp=sharing" target="_blank" class="uppercase text-sm font-medium tracking-wide text-[#4CD7F6]">
			CV
		</a>
	</div>
</footer>
