---
import { Image } from "astro:assets";
import photo from "../images/perfil.png";

const mainStack = ["React", "Vue 3", "Node/Express", "PostgreSQL"];
const socialLinkeds = [
  {
    link: "https://www.linkedin.com/in/juan-ramirez-490b84271/",
    red: "Linkedln",
  },
  { link: "https://github.com/juanRCoder", red: "Github" },
  {
    link: "https://mail.google.com/mail/?view=cm&to=guillecarck@gmail.com",
    red: "Email",
  },
];
---

<article
  class="container mx-auto max-w-5xl flex flex-col-reverse sm:flex-row justify-between gap-10 text-white py-20 px-4"
>
  <section class="space-y-3">
    <div class="text-center sm:text-left">
      <h1 class="text-4xl sm:text-5xl font-semibold text-green-400">
        Juan Ramirez
      </h1>
      <h4 class="text-lg sm:text-2xl font-semibold">
        Desarrollador Web Full-Stack
      </h4>
    </div>
    <div class="flex flex-col gap-1 items-center sm:items-start">
      <p class="text-neutral-400">Stack Principal:</p>
      <div
        class="text-sm flex flex-wrap justify-center sm:justify-normal gap-2 sm:gap-4"
      >
        {
          mainStack.map((tech) => (
            <span class="bg-[#5F5E5E]/20 p-2 rounded-md leading-4 tracking-widest">
              {tech}
            </span>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col gap-1 items-center sm:items-start">
      <p class="text-neutral-400">Encuéntrame en:</p>
      <div class="text-sm flex gap-4">
        {
          socialLinkeds.map((sl) => (
            <a
              class="underline rounded-md leading-4 tracking-widest"
              href={sl.link}
              target="_blank"
              rel="noopener noreferrer"
            >
              {sl.red}
            </a>
          ))
        }
      </div>
      <div class="mt-4">
        <a
          href="https://drive.google.com/file/d/10YKNlvNmMprIJoyGKdkF_vs6gHvGbxpD/view?usp=sharing"
          target="_blank"
          class="bg-green-400 hover:bg-green-300 rounded-md px-4 py-1.5 text-[#1b1d1c] font-semibold inline-block text-center mt-auto"
        >
          Ver CV
        </a>
      </div>
    </div>
  </section>
  <div class="flex-1 flex justify-center items-center">
    <Image
      class="w-56 h-56 rounded-full shadow shadow-green-400"
      src={photo}
      alt="photo_juan"
      loading="eager"
    />
  </div>
</article>
